#diabetesVisit_table,div,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,table,thead,tbody,th,td {    
    margin:0;   
    padding:0;
	}
	
#diabetesVisit_table{ 
	font: 12px/1.8 '微软雅黑','宋体',tahoma, Srial, helvetica, sans-serif; 
	text-align:left;
	border-collapse:collapse; border-spacing:0;
    } 
#diabetesVisit_table img {border:0; vertical-align:middle;} 
#diabetesVisit_table ol,ul {list-style:none; } 
#diabetesVisit_table h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
#diabetesVisit_table input,select{vertical-align:middle; font-family:Verdana;}
#diabetesVisit_table a{ color:#333; text-decoration:none;cursor:pointer;}
#info_tables2{margin:0; border:none;border-collapse:collapse;}
#info_tables2 tr td{padding:0;height:28px; line-height:28px;border-left:#ccc solid 1px;border-bottom:#ccc dotted 1px; border-right:none;padding-left:2px;}
#info_tables2 tr td.none{ border-left:none;}
.info_tables{ border-bottom:#ccc solid 1px; border-left:#ccc solid 1px; border-top:#ccc solid 1px; text-align: left;margin:0 auto 20px auto;}
.info_tables td{border-right:#ccc solid 1px; height:28px; line-height:28px;border-bottom:#ccc dotted 1px; }
.info_tables td input,.info_tables2 td input,.input_btline{margin:2px;}
.text{ width:130px;}
.widt240{ width:240px;}
.widt200{ width:200px;}
.widt80{ width:80px;}
.widt50{ width:50%;}
.red{ color:#D90923;}
.input_btline{ border:none;border-bottom:1px solid #000;}
classinput{color:red;}