body {
	background-color: #eee;
}

.assess {
	font-family: "tahoma,​arial,​helvetica,​sans-serif";
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	list-style: none;
	color: #232323
}

.assess table {
	padding: 15px;
	margin: 15px;
	border-collapse: collapse;
	border-spacing: 0;
}

.assess fieldset {
	margin-left: 15px;
	margin-top: 15px;
}

.assessCenter {
	text-align:center;
}

.assess td {
	padding: 4px 2px;
}

.assess table input {
	margin: 0 3px 0 5px;
}