.info_tables{ border-bottom:#ccc solid 1px; border-left:#ccc solid 1px; border-top:#ccc solid 1px; text-align: left;margin:0 auto 20px auto;
	font: 12px/1.8 '微软雅黑','宋体',tahoma, Srial, helvetica, sans-serif; 
	text-align:left;
}
.info_tables table { border-collapse:collapse; border-spacing:0;} 
.info_tables img {border:0; vertical-align:middle;} 
.info_tables ol,ul {list-style:none; } 
.info_tables h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
.info_tables input,select{vertical-align:middle; font-family:Verdana;}
table[class="info_tables"] input[type="text"]{border:none;border-bottom:1px solid #000;}
.info_tables a{ color:#333; text-decoration:none;cursor:pointer;}
#info_tables2{margin:0; border:none;border-collapse:collapse;}
#info_tables2 tr td{padding:0;height:28px; line-height:28px;border-left:#ccc solid 1px;border-bottom:#ccc dotted 1px; border-right:none;padding-left:2px;}
#info_tables2 tr td.none{ border-left:none;}
.info_tables td{border-right:#ccc solid 1px; height:28px; line-height:28px;border-bottom:#ccc dotted 1px; }
.info_tables td input,.info_tables2 td input,.input_btline{margin:2px;}
.text{ width:130px;}
.widt80{ width:80px;}
.widt120{ width:120px;}
.widt150{ width:150px;}
.widt160{ width:160px;}
.widt189{ width:189px;}
.widt195{ width:195px;}
.widt200{ width:200px;}
.widt215{ width:215px;}
.widt250{ width:250px;}
.widt260{ width:260px;}
.widt280{ width:280px;}
.widt300{ width:300px;}
.widt315{ width:315px;}
.widt345{ width:345px;}
.widt365{ width:365px;}
.widt420{ width:420px;}
.widt435{ width:435px;}
.widt450{ width:450px;}
.widt480{ width:480px;}
.widt600{ width:600px;}
.widtP50{ width:50%;}
.widtP80{ width:80%;}
.widtP85{ width:85%;}
.widtP90{ width:90%;}
.widtP93{ width:93%;}
.widtP95{ width:95%;}
.widtP97{width:97%;}
.widtP98{width:98%;}
.red{ color:#D90923;}
.input_btline{ border:none;border-bottom:1px solid #000;}
.info_tables strong{font-weight:bold;}