body {
	background-color: #eee;
}
.basicInfo_in {
	border:0 none !important;
}
.basicInfo_in_td {
	border-right: 0 none !important;
}
.basicInfo_in_td_bot {
	border-bottom: 0 none !important;
}
.basicInfo {
	font-family: "微软雅黑", "宋体";
	font-size: 12px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 0 auto 20px auto;
	color: #232323;
	list-style: none;
}

.basicInfo table {
	border-bottom: #ccc solid 1px;
	border-left: #ccc solid 1px;
	border-top: #ccc solid 1px;
	text-align: left;
	align: center;
	border-collapse: collapse;
	border-spacing: 0;
}

.basicInfo td {
	border-right: #ccc solid 1px;
	border-bottom: #ccc dotted 1px;
	padding: 4px 2px;
}

.basicInfo td.tdnone {
	padding: 0;
}

.basicInfo div {
	border-bottom: dotted #fff 1px;
	min-height: 20px;
}

.red {
	color: red;
	font-weight: bold;
}

.basicInfo strong {
	font-weight: bold;
}

.basicInfo table input {
	margin: 3px 2px;
}

.basicInfo table img {
	margin: 3px 0px 0px 0px;
}

.width360 {
	width: 360px;
}

.width100 {
	width: 100px;
}

.width80 {
	width: 80px;
}

.width60 {
	width: 60px;
}

.basicInfo_width30 {
	width: 30px;
}

.basicInfo table input.input_btline {
	border: none;
	border-bottom: 1px solid #000;
}