.my table{ border-bottom:#ccc solid 1px; border-left:#ccc solid 1px; border-top:#ccc solid 1px; text-align: left;border-collapse:collapse; border-spacing:0; }
.my td{border-right:#ccc solid 1px;border-bottom:#ccc dotted 1px; padding:4px 2px;}
.my td.tdnone{padding:0;}
.red{ color:red; font-weight:bold;}
.my table input{margin:0 3px 0 5px;}
.width360{ width:360px;}
.width300{ width:300px;}
.width230{ width:230px;}
.width180{ width:180px;}
.width140{ width:140px;}
.width130{ width:130px;}
.width120{ width:120px;}
.width100{ width:100px;}
.width80{ width:80px;}
.width60{ width:60px;}
.width40{width:40px;}
.width30{ width:30px;}
.my table input.input_btline{ border:none;border-bottom:1px solid #000;}
.my table input.inputtd{ border-color:#FF0000; border-style:solid; }
.fieldColor{font-weight:bold}
	

