body {
	background-color: #fff;
}

.configType table {
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
}

.configType_in table {
	border: none;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
}

.configType td {
	border-right: #ccc solid 1px;
	border-bottom: #ccc solid 1px;
	padding: 4px 2px;
}
.configType_in td {
	border-right: none;
	border-bottom: none;
	padding: 4px 2px;
}

.configType td.tdnone {
	padding: 0;
}

.configType div {
	border-bottom: solid #fff 1px;
	min-height: 20px;
}

.configType_in div {
	border-bottom: none;
	min-height: 20px;
}

.red {
	color: red;
	font-weight: bold;
}

.configType table input {
	margin: 0 3px 0 5px;
}

.width80 {
	width: 80px;
}

.width60 {
	width: 60px;
}

.width30 {
	width: 30px;
}

.configType table input.input_btline {
	border: none;
	border-bottom: 1px solid #000;
}