body{ background-color:#fff;}
.my{ font-family: "微软雅黑", "宋体"; font-size: 12px; padding:0; margin:0; list-style:none; color:#232323 }
.my table{ border-bottom:#ccc solid 1px; border-left:#ccc solid 1px; border-top:#ccc solid 1px; text-align: left;border-collapse:collapse; border-spacing:0; }
.my td{border-right:#ccc solid 1px;border-bottom:#ccc dotted 1px; padding:4px 2px;}
.my td.tdnone{padding:0;}
.my div{min-height:20px;}
.my tr td{padding:0;height:28px; line-height:28px;border-left:#ccc solid 1px;border-bottom:#ccc dotted 1px; border-right:none;padding-left:2px;}
.my tr td.none{ border-left:none;}
.red{ color:red; font-weight:bold;}
.my table input{margin:0 3px 0 5px;}
.width170{ width:170px;}
.width80{ width:80px;}
.width60{ width:60px;}
.width30{ width:30px;}
.my table input.input_btline{ border:none;border-bottom:1px solid #000;}
.my table input.input_btline2{ border:none;}
strong{font-weight:bold;}