.answer {
	margin: 0;
	padding: 0;
	font: 12px/1.8 "宋体", tahoma, Srial, helvetica, sans-serif;
	text-align: left;
	background-color: #eee;
	color: #333;
	padding-left: 10px;
	padding-bottom: 10px;
}
.answer input {
	color: #000000;
}
.answer p {
	padding: 3px 0 5px 0;
	font-weight: bold;
	text-indent: 12px;
}
.answer dl {
	border: 1px solid #ccc;
	background-color: #eee;
}

.answer dl dt {
	margin-top: 5px;
	font-weight: bold;
}
.answer dl dd {
	padding: 5px 5px 5px 27px;
	border-bottom: 1px solid #e0e0e0;
}
.answer dl dd label {
	margin-right: 5px;
}
.answer dl dd input {
	padding: 0 5px;
}
.tables {
	margin-top: 10px;
	border: 1px solid #ccc;
	border-right: none;
}
.tables th {
	height: 30px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	background-color: #eee;
	border-right: 1px solid #ccc;
}
.tables td {
	padding: 5px;
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #ccc;
}
.text {
	width: 160px;
	height: 22px;
	line-height: 22px;
}
.ml10 {
	float: left;
	margin-left: 10px;
}
.underline {
	width: 100px;
	border: none;
	border-bottom: 1px solid #000;
	background-color: #eee;
}
.with100 {
	width: 100px;
	text-align: center;
	margin-bottom: 5px;
}