.my{ font-family: "微软雅黑", "宋体"; font-size: 12px; padding:0; margin:0; list-style:none; color:#232323 }
.my table{ border-bottom:#ccc solid 1px; border-left:#ccc solid 1px; border-top:#ccc solid 1px; text-align: left;border-collapse:collapse; border-spacing:0; }
.my td{border-right:#ccc solid 1px;border-bottom:#ccc dotted 1px; padding:4px 2px;}
.my td.tdnone{padding:0;}
.my div{min-height:20px;}
.red{ color:red; font-weight:bold;}
.width200{ width:200px;}
.width185{ width:185px;}
.width145{ width:145px;}
.width105{ width:105px;}
.width100{ width:100px;}
.width80{ width:80px;}
.width60{ width:60px;}
.width30{ width:30px;}
.my table input.input_btline{border:none;border-bottom:1px solid #000;}
.my strong{font-weight:bold;}