<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="chis.chisRecordFilter" class="chis.source.filter.CHISRecordFilter" parent="chis.abstractActionService" >
		<property name="conditionMap">
			<map>
				<!-- 健康档案 -->
				<entry key="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A01"/>
						<property name="nodeShowName"  value="个人健康档案"/>
						<property name="prerequisite"  value="no"/>
						<property name="dependencies"  value="base"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="true"/>
						<property name="createReadField"  value="GRDA"/>
						<property name="entryName" value="chis.application.hr.schemas.EHR_HealthRecord" />
						<property name="condtions">
							<map>
								<entry key="status">
									<value>0</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 居民签约 -->
				<entry key="chis.ehrViewNav/B_90">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A90"/>
						<property name="nodeShowName"  value="居民签约"/>
						<property name="prerequisite"  value="no"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_90,chis.ehrViewNav/B_92"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.scm.schemas.SCM_SignContractRecord" />
						<property name="condtions">
							<map>
								<entry key="cnd">
									<value>['eq',['$','signFlag'],['s','1']]</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 履约服务 -->
				<entry key="chis.ehrViewNav/B_91">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A91"/>
						<property name="nodeShowName"  value="履约服务"/>
						<property name="prerequisite"  value="no"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_91,chis.ehrViewNav/B_92"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.scm.schemas.SCM_SignContractRecord" />
						<property name="condtions">
							<map>
								<entry key="cnd">
									<value>['eq',['$','signFlag'],['s','1']]</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!--
				<entry key="chis.ehrViewNav/B_13">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A13"/>
							<property name="nodeShowName"  value="个人健康评估表"/>
							<property name="prerequisite"  value="HAR"/>
							<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="entryName" value="chis.application.hr.schemas.SQ_JKPG" />
							<property name="condtions">
								<map>
								</map>
							</property>
						</bean>
					</entry>
				-->	
				<!-- 健康检查  
					<entry key="chis.ehrViewNav/B_10">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A0101"/>
							<property name="nodeShowName"  value="健康检查表"/>
							<property name="prerequisite"  value="no"/>
							<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="entryName" value="chis.application.hc.schemas.HC_HealthCheck" />
							<property name="condtions">
								<map>
									<entry key="cnd">
										<value>
											['and',
												['ge',['$','checkDate'],['todate',['concat',['$','%server.date.year'],['s','0101']],['s','yyyy-MM-dd']]],
												['le',['$','checkDate'],['todate',['concat',['$','%server.date.year'],['s','1231']],['s','yyyy-MM-dd']]]
											]
										</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry>-->
				<!-- 健康检查  纸质化版本
					<entry key="chis.ehrViewNav/B_10_HTML">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A010101"/>
							<property name="nodeShowName"  value="健康检查表"/>
							<property name="prerequisite"  value="no"/>
							<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="entryName" value="chis.application.hc.schemas.HC_HealthCheck" />
							<property name="condtions">
								<map>
									<entry key="cnd">
										<value>
											['and',
												['ge',['$','checkDate'],['todate',['concat',['$','%server.date.year'],['s','0101']],['s','yyyy-MM-dd']]],
												['le',['$','checkDate'],['todate',['concat',['$','%server.date.year'],['s','1231']],['s','yyyy-MM-dd']]]
											]
										</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry>-->
				<!-- 高血压疑似  ** 改为直接保存数据，不再让用户再录入一次数据
					<entry key="chis.application.diseasemanage.DISEASEMANAGE/HY/C20-1">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A0201"/>
							<property name="nodeShowName"  value="高血压疑似"/>
							<property name="prerequisite"  value="HYSC"/>
							<property name="dependencies"  value="base"/>
							<property name="dependNodeStatus"  value="hide"/>
							<property name="selectUnnormal"  value="false"/>
							<property name="entryName" value="chis.application.hy.schemas.MDC_HypertensionSimilarity" />
							<property name="condtions">
								<map>
									<entry key="cnd">
										<value>
											['ne',['$','diagnosisType'],['s','3']]
										</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry> -->
				<!-- 高血压首诊测压-->
				<entry key="chis.application.diseasemanage.DISEASEMANAGE/HY/C32">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A02"/>
							<property name="nodeShowName"  value="高血压首诊测压"/>
							<property name="prerequisite"  value="FCBP"/>
							<property name="dependencies"  value="base"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="false"/>
							<property name="entryName" value="chis.application.hy.schemas.MDC_Hypertension_FCBP" />
							<property name="condtions">
								<map>
								</map>
							</property>
						</bean>
					</entry>
				<!-- 高血压疑似核实 -->
				<entry key="chis.application.diseasemanage.DISEASEMANAGE/HY/C20-2">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A0202"/>
						<property name="nodeShowName"  value="高血压疑似核实"/>
						<property name="prerequisite"  value="HYS"/>
						<property name="dependencies"  value="base"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.hy.schemas.MDC_HypertensionSimilarity" />
						<property name="condtions">
							<map>
								<entry key="cnd">
									<value>
										['eq',['$','diagnosisType'],['s','2']]
									</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 高血压档案 -->
				<entry key="chis.ehrViewNav/C_01">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A03"/>
						<property name="nodeShowName"  value="高血压档案"/>
						<property name="prerequisite"  value="GXY"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="true"/>
						<property name="createReadField"  value="GAO"/>
						<property name="entryName" value="chis.application.hy.schemas.MDC_HypertensionRecord" />
						<property name="condtions">
							<map>
								<entry key="status">
									<value>0</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 高血压分组评估 
					<entry key="chis.ehrViewNav/C_02">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A04"/>
							<property name="nodeShowName"  value="高血压分组评估"/>
							<property name="prerequisite"  value="GXYFZPG"/>
							<property name="dependencies"  value="chis.ehrViewNav/C_01"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="false"/>
							<property name="entryName" value="chis.application.hy.schemas.MDC_HypertensionFixGroup" />
							<property name="condtions">
								<map>
								</map>
							</property>
						</bean>
					</entry>-->
				<!-- 高血压随访 -->
				<entry key="chis.ehrViewNav/C_03">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A05"/>
						<property name="nodeShowName"  value="高血压随访"/>
						<property name="prerequisite"  value="GXYSF"/>
						<property name="dependencies"  value="chis.ehrViewNav/C_01"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="true"/>
						<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
						<property name="condtions">
							<map>
								<entry key="businessType">
									<value>1</value>
								</entry>
								<entry key="planStatus">
									<value>0</value>
								</entry>
								<entry key="cnd">
									<value>['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]]</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 高血压质控随访 
					<entry key="chis.ehrViewNav/C_08">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A05"/>
							<property name="nodeShowName"  value="高血压质控随访"/>
							<property name="prerequisite"  value="GXYZKSF"/>
							<property name="dependencies"  value="chis.ehrViewNav/C_01"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="entryName" value="chis.application.mh.schemas.SQ_ZKSFJH" />
							<property name="condtions">
								<map>
									<entry key="SFLB">
										<value>7</value>
									</entry>
									<entry key="WCBZ">
										<value>0</value>
									</entry>
									<entry key="cnd">
										<value>['and',['isNull',['$','SJSFRQ']],['le',['$','KSRQ'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]]]</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry>
					-->
				<!-- 高血压高危随访 -->
				<entry key="chis.ehrViewNav/C_07">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A0501"/>
						<property name="nodeShowName"  value="高血压高危随访"/>
						<property name="prerequisite"  value="GXYGWSF"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
						<property name="condtions">
							<map>
								<entry key="businessType">
									<value>13</value>
								</entry>
								<entry key="planStatus">
									<value>0</value>
								</entry>
								<entry key="cnd">
									<value>['and',['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]],
									['ge',['$','endDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]]]</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 糖尿病高危筛查 -->
				<entry key="chis.ehrViewNav/D_0101">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A0701"/>
						<property name="nodeShowName"  value="糖尿病高危筛查"/>
						<property name="prerequisite"  value="TLBGWSC"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.dbs.schemas.MDC_DiabetesOGTTRecord" />
						<property name="condtions">
							<map>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 个人主要问题-->
				<entry key="chis.ehrViewNav/B_04">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A0601"/>
						<property name="nodeShowName"  value="个人主要问题"/>
						<property name="prerequisite"  value="GRZYWT"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.hr.schemas.EHR_PersonProblem" />
						<property name="condtions">
							<map>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 糖尿病档案 -->
				<entry key="chis.ehrViewNav/D_01">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A07"/>
						<property name="nodeShowName"  value="糖尿病档案"/>
						<property name="prerequisite"  value="TLB"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="true"/>
						<property name="createReadField"  value="TANG"/>
						<property name="entryName" value="chis.application.dbs.schemas.MDC_DiabetesRecord" />
						<property name="condtions">
							<map>
								<entry key="status">
									<value>0</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 糖尿病随访 -->
				<entry key="chis.ehrViewNav/D_03">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A08"/>
						<property name="nodeShowName"  value="糖尿病随访"/>
						<property name="prerequisite"  value="TLBSF"/>
						<property name="dependencies"  value="chis.ehrViewNav/D_01"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="true"/>
						<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
						<property name="condtions">
							<map>
								<entry key="businessType">
									<value>2</value>
								</entry>
								<entry key="planStatus">
									<value>0</value>
								</entry>
								<entry key="cnd">
									<value>['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]]</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 糖尿病疑似核实 -->
				<entry key="chis.application.diseasemanage.DISEASEMANAGE/DBS/D20-2">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A0801"/>
						<property name="nodeShowName"  value="糖尿病疑似核实"/>
						<property name="prerequisite"  value="TYS"/>
						<property name="dependencies"  value="base"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.dbs.schemas.MDC_DiabetesSimilarity" />
						<property name="condtions">
							<map>
								<entry key="cnd">
									<value>
										['eq',['$','diagnosisType'],['s','2']]
									</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 糖尿病质控随访 
					<entry key="chis.ehrViewNav/D_08">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A0801"/>
							<property name="nodeShowName"  value="糖尿病质控随访"/>
							<property name="prerequisite"  value="TNBZKSF"/>
							<property name="dependencies"  value="chis.ehrViewNav/D_01"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="entryName" value="chis.application.mh.schemas.SQ_ZKSFJH" />
							<property name="condtions">
								<map>
									<entry key="SFLB">
										<value>8</value>
									</entry>
									<entry key="WCBZ">
										<value>0</value>
									</entry>
									<entry key="cnd">
										<value>['and',['isNull',['$','SJSFRQ']],['le',['$','KSRQ'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]]]</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry>-->
				<!-- 老年人档案
					<entry key="chis.ehrViewNav/B_07">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A09"/>
							<property name="nodeShowName"  value="老年人档案"/>
							<property name="prerequisite"  value="oldPeople"/>
							<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="entryName" value="chis.application.ohr.schemas.MDC_OldPeopleRecord" />
							<property name="condtions">
								<map>
									<entry key="status">
										<value>0</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry> -->
				<!-- 老年人随访 
					<entry key="chis.ehrViewNav/B_06">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A10"/>
							<property name="nodeShowName"  value="老年人随访"/>
							<property name="prerequisite"  value="oldPeopleSF"/>
							<property name="dependencies"  value="chis.ehrViewNav/B_07"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
							<property name="condtions">
								<map>
									<entry key="businessType">
										<value>4</value>
									</entry>
									<entry key="planStatus">
										<value>0</value>
									</entry>
									<entry key="cnd">
										<value>['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]]</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry>-->
				<!-- 儿童档案
					<entry key="chis.ehrViewNav/H_01">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A15"/>
							<property name="nodeShowName"  value="儿童档案"/>
							<property name="prerequisite"  value="children"/>
							<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="accessControl"  value="true"/>
							<property name="acExpAction"  value="create"/>
							<property name="acRuleId"  value="chis.application.cdh.schemas.CDH_HealthCard"/>
							<property name="entryName" value="chis.application.cdh.schemas.CDH_HealthCard" />
							<property name="condtions">
								<map>
									<entry key="status">
										<value>0</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry> -->
				<!-- 儿童一岁内随访
					<entry key="chis.ehrViewNav/H_97">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A16"/>
							<property name="nodeShowName"  value="儿童体格检查"/>
							<property name="prerequisite"  value="children1"/>
							<property name="dependencies"  value="chis.ehrViewNav/H_01"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="accessControl"  value="true"/>
							<property name="acExpAction"  value="update"/>
							<property name="acRuleId"  value="chis.application.cdh.schemas.CDH_HealthCard"/>
							<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
							<property name="condtions">
								<map>
									<entry key="businessType">
										<value>6</value>
									</entry>
									<entry key="planStatus">
										<value>0</value>
									</entry>
									<entry key="cnd">
										<value>
											['and',
												['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]],
												['lt', ['$', 'extend1'], ['i', 12]]
												]
										</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry> -->
				<!-- 儿童1-2岁随访 
					<entry key="chis.ehrViewNav/H_98">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A17"/>
							<property name="nodeShowName"  value="儿童体格检查"/>
							<property name="prerequisite"  value="children1-2"/>
							<property name="dependencies"  value="chis.ehrViewNav/H_01"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="accessControl"  value="true"/>
							<property name="acExpAction"  value="update"/>
							<property name="acRuleId"  value="chis.application.cdh.schemas.CDH_HealthCard"/>
							<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
							<property name="condtions">
								<map>
									<entry key="businessType">
										<value>6</value>
									</entry>
									<entry key="planStatus">
										<value>0</value>
									</entry>
									<entry key="cnd">
										<value>
											['and',
												['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]],
												['ge', ['$', 'extend1'], ['i', 12]],['lt', ['$', 'extend1'], ['i', 36]]
											]
										</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry> -->
				<!-- 儿童3-6岁随访
					<entry key="chis.ehrViewNav/H_99">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A18"/>
							<property name="nodeShowName"  value="儿童体格检查"/>
							<property name="prerequisite"  value="children3-6"/>
							<property name="dependencies"  value="chis.ehrViewNav/H_01"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="accessControl"  value="true"/>
							<property name="acExpAction"  value="update"/>
							<property name="acRuleId"  value="chis.application.cdh.schemas.CDH_HealthCard"/>
							<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
							<property name="condtions">
								<map>
									<entry key="businessType">
										<value>6</value>
									</entry>
									<entry key="planStatus">
										<value>0</value>
									</entry>
									<entry key="cnd">
										<value>
											['and',
												['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]],
												['ge', ['$', 'extend1'], ['i', 36]]
											]
										</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry> -->
				<!-- 儿童询问 
					<entry key="chis.ehrViewNav/H_03">
						<bean class="chis.source.filter.ConditionEntity">
							<property name="nodeKey"  value="A19"/>
							<property name="nodeShowName"  value="儿童询问记录"/>
							<property name="prerequisite"  value="childrenXW"/>
							<property name="dependencies"  value="chis.ehrViewNav/H_01"/>
							<property name="dependNodeStatus"  value="read"/>
							<property name="selectUnnormal"  value="true"/>
							<property name="accessControl"  value="true"/>
							<property name="acExpAction"  value="update"/>
							<property name="acRuleId"  value="chis.application.cdh.schemas.CDH_HealthCard"/>
							<property name="entryName" value="chis.application.pub.schemas.PUB_VisitPlan" />
							<property name="condtions">
								<map>
									<entry key="businessType">
										<value>5</value>
									</entry>
									<entry key="planStatus">
										<value>0</value>
									</entry>
									<entry key="cnd">
										<value>['le',['$','beginDate'],['todate',['$','%server.date.today'],['s','yyyy-MM-dd']]]</value>
									</entry>
								</map>
							</property>
						</bean>
					</entry>-->
				<!-- 传染病报告卡 -->
				<entry key="chis.application.diseasecontrol.DISEASECONTROL/IDR/DCIDR_03_PHIS">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A25"/>
						<property name="nodeShowName"  value="传染病报告卡"/>
						<property name="prerequisite"  value="BGK"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.idr.schemas.IDR_Report" />
						<property name="condtions">
							<map>
								<entry key="status">
									<value>0</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 肿瘤健康问卷 -->
				<entry key="chis.application.diseasemanage.DISEASEMANAGE/TR/THQM">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A30"/>
						<property name="nodeShowName"  value="肿瘤健康问卷"/>
						<property name="prerequisite"  value="thqmList"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="selectUnnormal"  value="false"/>
						<property name="entryName" value="chis.application.phq.schemas.PHQ_GeneralCaseListView" />
						<property name="condtions">
							<map>
								<entry key="status">
									<value>0</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!--个人签约 -->
				<entry key="chis.ehrViewNav/JY_01">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A31"/>
						<property name="nodeShowName"  value="个人签约"/>
						<property name="prerequisite"  value="GRQY"/>
						<property name="dependencies"  value="chis.ehrViewNav/JY_01"/>
					</bean>
				</entry>
				<!--孕前检查 -->
				<entry key="chis.ehrViewNav/PC_02_02">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="prerequisite"  value="PC"/>
						<property name="dependencies"  value="chis.ehrViewNav/PC_02_02"/>
					</bean>
				</entry>
				<!--自检信息 -->
				<entry key="chis.ehrViewNav/ZJ_JKXW">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="prerequisite"  value="ZJ"/>
						<property name="dependencies"  value="chis.ehrViewNav/ZJ_JKXW"/>
					</bean>
				</entry>		
				<!--心脑血管 -->
				<entry key="chis.ehrViewNav/M_02">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey" value="A50" />
						<property name="nodeShowName" value="心脑血管病例登记报告" />
						<property name="prerequisite" value="XNXG" />
						<property name="dependencies"
							value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04" />
						<property name="dependNodeStatus" value="read" />
					</bean>
				</entry>
				<!-- 中医体质辨识 -->
				<entry key="chis.application.tcm.TCM/TCM/TCM_CRM">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A50"/>
						<property name="nodeShowName"  value="中医体质辨识"/>
						<property name="prerequisite"  value="TCMQ"/>
						<property name="dependencies"  value="chis.ehrViewNav/B_01,chis.ehrViewNav/B_02,chis.ehrViewNav/B_03,chis.ehrViewNav/B_04"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="entryName" value="chis.application.tcm.schemas.TCM_TCMRegister" />
						<property name="selectUnnormal"  value="false"/>
						<property name="createReadField"  value=""/>
						<property name="condtions">
							<map>
								<entry key="status">
									<value>0</value>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<!-- 中医指导 -->
				<entry key="chis.ehrViewNav/TCM_SG">
					<bean class="chis.source.filter.ConditionEntity">
						<property name="nodeKey"  value="A51"/>
						<property name="nodeShowName"  value="中医指导"/>
						<property name="prerequisite"  value="TCMSG"/>
						<property name="dependencies"  value="chis.application.tcm.TCM/TCM/TCM_CRM"/>
						<property name="dependNodeStatus"  value="read"/>
						<property name="entryName" value="chis.application.tcm.schemas.TCM_SickGuidance" />
					</bean>
				</entry>			
			</map>
		</property>
	</bean>

</beans>