<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="actionExecutorTarget"
    class="chis.source.service.DefaultActionExecutor" />

  <bean id="actionExecutor"
    class="chis.source.interceptor.ActionProxyFactoryBean">
    <property name="actionProxy" ref="actionProxy" />
  </bean>

  <bean id="actionProxy"
    class="chis.source.interceptor.ActionProxy">
    <property name="target" ref="actionExecutorTarget" />
    <property name="actionInterceptors">
      <list>
        <!-- 
          <ref bean="personalHistoryTaskInterceptor" />
          <ref bean="hypertensionYearFixGroupActionInterceptor" />
          <ref bean="hypertensionRecordCreateActionInterceptor" />
          <ref bean="healthRecordLogoutActionInterceptor" />
          <ref bean="hypertensionCheckLogoutActionInterceptor" />
          <ref
            bean="doRevertRecordFormRevertListActionInterceptor" />
          <ref bean="healthRecordSaveActionInterceptor" />
          <ref bean="archiveMoveAffirmActionInterceptor" />
          <ref bean="makeArchiveMoveRecordActionInterceptor" />
          <ref bean="removeArchiveMoveRecordActionInterceptor" />
          <ref bean="saveHypertensionVisitActionInterceptor" />
          <ref bean="childrenArchiveMoveAffirmActionInterceptor" />
          <ref bean="childrenArchiveMoveApplyActionInterceptor" />
          <ref bean="childrenArchiveMoveRemoveActionInterceptor" />
          <ref bean="pregnantArchiveMoveAffirmActionInterceptor" />
          <ref bean="pregnantArchiveMoveApplyActionInterceptor" />
          <ref bean="pregnantArchiveMoveRemoveActionInterceptor" />
          <ref bean="makeArchiveMoveRecordsActionInterceptor" />
          <ref bean="saveAnnualAssessmentActionInterceptor" />
          <ref bean="saveAnnualHealthCheckActionInterceptor" />
          -->
      </list>
    </property>
  </bean>
<!--
  <bean id="personalHistoryTaskInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.PersonalHistoryTaskInterceptor">
    <property name="pointcuts">
      <list>
        <value>saveChildBaseMessage</value>
        <value>pastHistorySave</value>
        <value>saveChildrenRecord</value>
        <value>deletePastHistory</value>
      </list>
    </property>
  </bean>

  <bean id="hypertensionYearFixGroupActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.HypertensionYearFixGroupActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>saveHypertensionFixGroup</value>
      </list>
    </property>
  </bean>

  <bean id="hypertensionRecordCreateActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.HypertensionRecordCreateActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>saveHypertensionRecord</value>
      </list>
    </property>
  </bean>

  <bean id="healthRecordLogoutActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.HealthRecordLogoutActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>setHealthRecordLogout</value>
      </list>
    </property>
  </bean>

  <bean id="hypertensionCheckLogoutActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.HypertensionCheckLogoutActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>checkHypertensionRecordLogout</value>
      </list>
    </property>
  </bean>

  <bean id="doRevertRecordFormRevertListActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.DoRevertRecordFormRevertListActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>doRevertRecordFormRevertList</value>
      </list>
    </property>
  </bean>

  <bean id="healthRecordSaveActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.HealthRecordSaveActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>saveHealthRecord</value>
      </list>
    </property>
  </bean>

  <bean id="archiveMoveAffirmActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.ArchiveMoveAffirmActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>archiveMoveAffirm</value>
        <value>removeArchiveMoveRecords</value>
      </list>
    </property>
  </bean>

  <bean id="makeArchiveMoveRecordActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.MakeArchiveMoveRecordActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>makeArchiveMoveRecord</value>
      </list>
    </property>
  </bean>

  <bean id="removeArchiveMoveRecordActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.RemoveArchiveMoveRecordActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>removeArchiveMoveRecord</value>
      </list>
    </property>
  </bean>

  <bean id="saveHypertensionVisitActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.SaveHypertensionVisitActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>saveHypertensionVisit</value>
      </list>
    </property>
  </bean>
  <bean id="saveAnnualAssessmentActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.SaveAnnualAssessmentActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>saveAnnualAssessment</value>
      </list>
    </property>
  </bean>
  <bean id="saveAnnualHealthCheckActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.SaveAnnualHealthCheckActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>saveAnnualHealthCheck</value>
      </list>
    </property>
  </bean>
  <bean id="childrenArchiveMoveAffirmActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.ChildrenArchiveMoveAffirmActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>childrenArchiveMoveAffirm</value>
      </list>
    </property>
  </bean>

  <bean id="childrenArchiveMoveApplyActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.ChildrenArchiveMoveApplyActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>childrenArchiveMoveApply</value>
      </list>
    </property>
  </bean>

  <bean id="childrenArchiveMoveRemoveActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.ChildrenArchiveMoveRemoveActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>childrenArchiveMoveRemove</value>
      </list>
    </property>
  </bean>

  <bean id="pregnantArchiveMoveAffirmActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.PregnantArchiveMoveAffirmActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>pregnantArchiveMoveAffirm</value>
      </list>
    </property>
  </bean>

  <bean id="pregnantArchiveMoveApplyActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.PregnantArchiveMoveApplyActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>pregnantArchiveMoveApply</value>
      </list>
    </property>
  </bean>

  <bean id="pregnantArchiveMoveRemoveActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.PregnantArchiveMoveRemoveActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>pregnantArchiveMoveRemove</value>
      </list>
    </property>
  </bean>
	
  <bean id="makeArchiveMoveRecordsActionInterceptor"
    class="com.bsoft.hzehr.biz.task.interceptor.MakeArchiveMoveRecordsActionInterceptor">
    <property name="pointcuts">
      <list>
        <value>makeArchiveMoveRecords</value>
      </list>
    </property>
  </bean>
  -->
</beans>