<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Sean220 (Sean220) -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="cover" class="chis.source.print.instance.PersonalFile" />
	<bean id="personalFile" class="chis.source.print.instance.PersonalFile" />
	<bean id="childrenFile" class="chis.source.print.instance.ChildrenFile" />
	<bean id="childrenFilePaper" class="chis.source.print.instance.ChildrenFilePaper" />
	<bean id="healthCheckupFile" class="chis.source.print.instance.HealthCheckupFile" />
	<bean id="healthCheckFile" class="chis.source.print.instance.HealthCheckFile" />
	<bean id="pregnantFile" class="chis.source.print.instance.PregnantFile" />
	<bean id="pregnantFilePaper" class="chis.source.print.instance.PregnantFilePaper" />
	<bean id="hypertensionFile" class="chis.source.print.instance.HypertensionFile" />
	<!--<bean id="hypertensionRecordFile" class="chis.source.print.instance.HypertensionRecordFile" />-->
	<bean id="diabetesFile" class="chis.source.print.instance.DiabetesFile" />
	<bean id="psychosisRecordFile" class="chis.source.print.instance.PsychosisRecordFile" />
	<bean id="psychosisVisitFile" class="chis.source.print.instance.PsychosisVisitFile" />
	<bean id="reportBeans" class="chis.source.print.instance.ReportBeans" />
	<bean id="reportFile" class="chis.source.print.instance.ReportFile" />
	<bean id="suspectedDisabledChildren" class="chis.source.print.instance.SuspectedDisabledChildren" />
	<bean id="defectChildrenFile" class="chis.source.print.instance.DefectChildrenFile" />
	<bean id="childrenCheckupFile" class="chis.source.print.instance.ChildrenCheckupFile" />
	<bean id="physicalExaminationFile" class="chis.source.print.instance.PhysicalExaminationFile" />
	<bean id="cvdFile" class="chis.source.print.instance.CVDFile" />
	<bean id="pregnantHighRiskVisitFile" class="chis.source.print.instance.PregnantHighRiskVisitFile" />
	<bean id="tiRuoRrZhuiFangDan" class="chis.source.print.instance.TiRuoRrZhuiFangDan" />
	<bean id="healthEducation" class="chis.source.print.instance.HealthEducation" />
	<bean id="publicHealth" class="chis.source.print.instance.PublicHealth" />
	<bean id="womanCheckup" class="chis.source.print.instance.WomanCheckup" />
	<bean id="familyContractBasePrint" class="chis.source.print.instance.FamilyContractBasePrint" />
	<bean id="chineseMedicineManage" class="chis.source.print.instance.ChineseMedicineManage" />
	<bean id="childrenCheckupDescription" class="chis.source.print.instance.ChildrenCheckupDescription" />
	<bean id="incompleteRecordField" class="chis.source.print.instance.IncompleteRecordField" />
	<bean id="consultationRecordFile" class="chis.source.print.instance.ConsultationRecordFile" />
	<bean id="healthTeachReport" class="chis.source.print.instance.HealthTeachReport" />
	<bean id="healthRecipelManage" class="chis.source.print.instance.HealthRecipelManage" />
	<bean id="oldPeopleSelfCare" class="chis.source.print.instance.OldPeopleSelfCare" />
	<bean id="EHR_HealthRecord_JBXX" class="chis.source.print.instance.EHR_HealthRecord_JBXX" />
	<bean id="postnatal42dayFile" class="chis.source.print.htmlInstance.Postnatal42dayFile" />
	<bean id="postnatalVisitFile" class="chis.source.print.htmlInstance.PostnatalVisitFile" />  
	<bean id="hypertensionVisitFile" class="chis.source.print.htmlInstance.HypertensionVisitFile" /> 
	<bean id="childVisitInfoAndRecord" class="chis.source.print.instance.ChildVisitInfoAndRecord" />  
	<bean id="firstVisitRecord" class="chis.source.print.instance.FirstVisitRecord" />  
	<bean id="prenatalChildrenRecord" class="chis.source.print.instance.PrenatalChildrenRecord" />
	<bean id="diabetesVisitFile" class="chis.source.print.htmlInstance.DiabetesVisitFile" />  
    <bean id="ReferralInfoFile" class="chis.source.print.instance.ReferralInfoFile" />
	<bean id="ReferralInfoReportFile" class="chis.source.print.instance.ReferralInfoReportFile" />
	<!-- 签约协议 -->
	<bean id="SignContract" class="chis.source.print.instance.SignContract" />	
	<bean id="familyContractBaseLsPrint" class="chis.source.print.instance.FamilyContractBaseLsPrint" />

	   
</beans>
