<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="topContext" class="ctd.util.context.Context">
		<constructor-arg>
			<map>
				<entry key="date">
					<bean class="ctd.util.context.beans.DateBean" />
				</entry>
				<entry key="jvm">
					<bean class="ctd.util.context.beans.JVMStatBean" />
				</entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="staticContext" class="ctd.util.context.Context">
		<constructor-arg value="server" />
		<constructor-arg ref="topContext" />
	</bean>
</beans>
