
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
h1
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:21.6pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-21.6pt;
	line-height:240%;
	page-break-after:avoid;
	font-size:15.0pt;
	font-family:"Times New Roman","serif";}
h2
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:64.8pt;
	text-indent:-28.8pt;
	line-height:172%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Arial","sans-serif";}
h3
	{mso-style-link:"标题 3 Char";
	margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:36.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-36.0pt;
	line-height:172%;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h4
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:43.2pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-43.2pt;
	line-height:157%;
	page-break-after:avoid;
	font-size:10.5pt;
	font-family:"Arial","sans-serif";}
h5
	{margin-top:14.0pt;
	margin-right:0cm;
	margin-bottom:14.5pt;
	margin-left:50.4pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-50.4pt;
	line-height:156%;
	page-break-after:avoid;
	font-size:14.0pt;
	font-family:"Times New Roman","serif";}
h6
	{mso-style-link:"标题 6 Char";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.2pt;
	margin-left:57.6pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-57.6pt;
	line-height:133%;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Cambria","serif";}
p.MsoHeading7, li.MsoHeading7, div.MsoHeading7
	{mso-style-link:"标题 7 Char";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.2pt;
	margin-left:64.8pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-64.8pt;
	line-height:133%;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p.MsoHeading8, li.MsoHeading8, div.MsoHeading8
	{mso-style-link:"标题 8 Char";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.2pt;
	margin-left:72.0pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-72.0pt;
	line-height:133%;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Cambria","serif";}
p.MsoHeading9, li.MsoHeading9, div.MsoHeading9
	{mso-style-link:"标题 9 Char";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:3.2pt;
	margin-left:79.2pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-79.2pt;
	line-height:133%;
	page-break-after:avoid;
	font-size:10.5pt;
	font-family:"Cambria","serif";}
p.MsoIndex1, li.MsoIndex1, div.MsoIndex1
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoToc1, li.MsoToc1, div.MsoToc1
	{margin-top:6.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:"Calibri","sans-serif";
	text-transform:uppercase;
	font-weight:bold;}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:10.5pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Calibri","sans-serif";
	font-variant:small-caps;}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:21.0pt;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:31.5pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoToc5, li.MsoToc5, div.MsoToc5
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:42.0pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoToc6, li.MsoToc6, div.MsoToc6
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:52.5pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoToc7, li.MsoToc7, div.MsoToc7
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:63.0pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoToc8, li.MsoToc8, div.MsoToc8
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:73.5pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoToc9, li.MsoToc9, div.MsoToc9
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:84.0pt;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoNormalIndent, li.MsoNormalIndent, div.MsoNormalIndent
	{mso-style-name:"正文缩进\,正文（首行缩进两字） Char\,特点\,ALT+Z\,表正文\,正文非缩进\,段1\,四号\,四号 Char Char Char\,四号 Char\,正文（首行缩进两字）\,标题4\,正文不缩进\,ndrad\,???\00E4nd\,缩进\,正文对齐\,EHPT\,Body Text2\,正文（无缩进）\,Indent 1\,正文缩进 Char\,中文正文\,正文（首行缩进两字） Char Char\,正文缩进陈木华\,\00E4ndrad Char\,正文文字\(ALT+W\)\,正文非缩进 + 宋体\,两端对齐\,左侧\:  0 厘米\,首行缩进\:  2 字符";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	layout-grid-mode:char;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin:0cm;
	margin-bottom:.0001pt;
	layout-grid-mode:char;
	border:none;
	padding:0cm;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.MsoTitle, li.MsoTitle, div.MsoTitle
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:"Arial","sans-serif";
	font-weight:bold;}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:54.0pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:17.85pt;
	line-height:150%;
	font-size:10.5pt;
	font-family:宋体;
	color:black;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.MsoDocumentMap, li.MsoDocumentMap, div.MsoDocumentMap
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	background:navy;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:9.0pt;
	font-family:"Times New Roman","serif";}
p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
span.6Char
	{mso-style-name:"标题 6 Char";
	mso-style-link:"标题 6";
	font-family:"Cambria","serif";
	font-weight:bold;}
span.7Char
	{mso-style-name:"标题 7 Char";
	mso-style-link:"标题 7";
	font-weight:bold;}
span.8Char
	{mso-style-name:"标题 8 Char";
	mso-style-link:"标题 8";
	font-family:"Cambria","serif";}
span.9Char
	{mso-style-name:"标题 9 Char";
	mso-style-link:"标题 9";
	font-family:"Cambria","serif";}
p.a, li.a, div.a
	{mso-style-name:文档标题;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	line-height:150%;
	font-size:26.0pt;
	font-family:华文中宋;
	font-weight:bold;}
p.a0, li.a0, div.a0
	{mso-style-name:项目缩写;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:9.0pt;
	font-family:宋体;}
span.Char
	{mso-style-name:"项目缩写 Char";
	font-family:宋体;}
p.a1, li.a1, div.a1
	{mso-style-name:机构名称;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:26.0pt;
	font-family:华文中宋;
	font-weight:bold;}
p.3, li.3, div.3
	{mso-style-name:3;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.2, li.2, div.2
	{mso-style-name:2;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.1, li.1, div.1
	{mso-style-name:1;
	margin:0cm;
	margin-bottom:.0001pt;
	text-indent:21.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.a2, li.a2, div.a2
	{mso-style-name:文档提示信息;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";
	font-style:italic;}
p.CharCharCharCharCharCharChar, li.CharCharCharCharCharCharChar, div.CharCharCharCharCharCharChar
	{mso-style-name:" Char Char Char Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.CharCharCharCharCharCharCharCharCharChar, li.CharCharCharCharCharCharCharCharCharChar, div.CharCharCharCharCharCharCharCharCharChar
	{mso-style-name:"Char Char Char Char Char Char Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.CharCharCharCharCharCharCharCharCharChar0, li.CharCharCharCharCharCharCharCharCharChar0, div.CharCharCharCharCharCharCharCharCharChar0
	{mso-style-name:" Char Char Char Char Char Char Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.CharCharCharCharCharCharCharCharCharCharCharCharCharChar1CharCharCharCharCharChar, li.CharCharCharCharCharCharCharCharCharCharCharCharCharChar1CharCharCharCharCharChar, div.CharCharCharCharCharCharCharCharCharCharCharCharCharChar1CharCharCharCharCharChar
	{mso-style-name:" Char Char Char Char Char Char Char Char Char Char Char Char Char Char1 Char Char Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.Char0, li.Char0, div.Char0
	{mso-style-name:" Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.CharCharCharCharCharCharChar0, li.CharCharCharCharCharCharChar0, div.CharCharCharCharCharCharChar0
	{mso-style-name:"Char Char Char Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.CharCharCharCharCharCharCharCharCharCharCharCharCharChar1CharCharCharCharCharCharCharCharCharCharChar1CharCharCharChar, li.CharCharCharCharCharCharCharCharCharCharCharCharCharChar1CharCharCharCharCharCharCharCharCharCharChar1CharCharCharChar, div.CharCharCharCharCharCharCharCharCharCharCharCharCharChar1CharCharCharCharCharCharCharCharCharCharChar1CharCharCharChar
	{mso-style-name:" Char Char Char Char Char Char Char Char Char Char Char Char Char Char1 Char Char Char Char Char Char Char Char Char Char Char1 Char Char Char Char";
	mso-style-link:"默认段落字体\, Char Char Char Char Char Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.CharCharCharChar, li.CharCharCharChar, div.CharCharCharChar
	{mso-style-name:" Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.CharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharChar, li.CharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharChar, div.CharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharCharChar
	{mso-style-name:" Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
p.a3, li.a3, div.a3
	{mso-style-name:封面;
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:18.0pt;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";}
span.ext-mb-text
	{mso-style-name:ext-mb-text;}
p.ListParagraph, li.ListParagraph, div.ListParagraph
	{mso-style-name:"List Paragraph";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:21.0pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
span.ext-mb-text2
	{mso-style-name:ext-mb-text2;}
p.font5, li.font5, div.font5
	{mso-style-name:font5;
	margin-right:0cm;
	margin-left:0cm;
	font-size:9.0pt;
	font-family:宋体;}
p.xl65, li.xl65, div.xl65
	{mso-style-name:xl65;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl66, li.xl66, div.xl66
	{mso-style-name:xl66;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl67, li.xl67, div.xl67
	{mso-style-name:xl67;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl68, li.xl68, div.xl68
	{mso-style-name:xl68;
	margin-right:0cm;
	margin-left:0cm;
	text-align:justify;
	text-justify:inter-ideograph;
	background:#C2D69A;
	border:none;
	padding:0cm;
	font-size:10.5pt;
	font-family:宋体;
	font-weight:bold;}
p.xl69, li.xl69, div.xl69
	{mso-style-name:xl69;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	background:#C2D69A;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl70, li.xl70, div.xl70
	{mso-style-name:xl70;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	background:#C2D69A;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl71, li.xl71, div.xl71
	{mso-style-name:xl71;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	background:#C2D69A;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl72, li.xl72, div.xl72
	{mso-style-name:xl72;
	margin-right:0cm;
	margin-left:0cm;
	background:#B6DDE8;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl73, li.xl73, div.xl73
	{mso-style-name:xl73;
	margin-right:0cm;
	margin-left:0cm;
	background:#B6DDE8;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl74, li.xl74, div.xl74
	{mso-style-name:xl74;
	margin-right:0cm;
	margin-left:0cm;
	background:#B6DDE8;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl75, li.xl75, div.xl75
	{mso-style-name:xl75;
	margin-right:0cm;
	margin-left:0cm;
	background:#B6DDE8;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl76, li.xl76, div.xl76
	{mso-style-name:xl76;
	margin-right:0cm;
	margin-left:0cm;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl77, li.xl77, div.xl77
	{mso-style-name:xl77;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl78, li.xl78, div.xl78
	{mso-style-name:xl78;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl79, li.xl79, div.xl79
	{mso-style-name:xl79;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl80, li.xl80, div.xl80
	{mso-style-name:xl80;
	margin-right:0cm;
	margin-left:0cm;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl81, li.xl81, div.xl81
	{mso-style-name:xl81;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl82, li.xl82, div.xl82
	{mso-style-name:xl82;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl83, li.xl83, div.xl83
	{mso-style-name:xl83;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl84, li.xl84, div.xl84
	{mso-style-name:xl84;
	margin-right:0cm;
	margin-left:0cm;
	background:#B6DDE8;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl85, li.xl85, div.xl85
	{mso-style-name:xl85;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl86, li.xl86, div.xl86
	{mso-style-name:xl86;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl87, li.xl87, div.xl87
	{mso-style-name:xl87;
	margin-right:0cm;
	margin-left:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl88, li.xl88, div.xl88
	{mso-style-name:xl88;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	background:#C2D69A;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl89, li.xl89, div.xl89
	{mso-style-name:xl89;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl90, li.xl90, div.xl90
	{mso-style-name:xl90;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;}
p.xl91, li.xl91, div.xl91
	{mso-style-name:xl91;
	margin-right:0cm;
	margin-left:0cm;
	background:#B6DDE8;
	border:none;
	padding:0cm;
	font-size:10.0pt;
	font-family:宋体;
	font-weight:bold;}
p.xl92, li.xl92, div.xl92
	{mso-style-name:xl92;
	margin-right:0cm;
	margin-left:0cm;
	text-align:center;
	font-size:18.0pt;
	font-family:宋体;
	font-weight:bold;}
p.21522, li.21522, div.21522
	{mso-style-name:"样式 正文首行缩进 2 + 左侧\:  1\.5 字符 首行缩进\:  2 字符2";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	line-height:150%;
	font-size:10.5pt;
	font-family:宋体;}
span.3Char
	{mso-style-name:"标题 3 Char";
	mso-style-link:"标题 3";
	font-weight:bold;}
p.10, li.10, div.10
	{mso-style-name:样式1;
	mso-style-link:"样式1 Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
span.1Char
	{mso-style-name:"样式1 Char";
	mso-style-link:样式1;}
p.20, li.20, div.20
	{mso-style-name:样式2;
	mso-style-link:"样式2 Char";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.75pt;
	margin-bottom:.0001pt;
	text-align:justify;
	text-justify:inter-ideograph;
	text-indent:-15.75pt;
	font-size:10.5pt;
	font-family:"Times New Roman","serif";}
span.2Char
	{mso-style-name:"样式2 Char";
	mso-style-link:样式2;}
span.msoIns
	{mso-style-name:"";
	text-decoration:underline;
	color:teal;}
span.msoDel
	{mso-style-name:"";
	text-decoration:line-through;
	color:red;}
 /* Page Definitions */
 @page Section1
	{size:595.3pt 841.9pt;
	margin:2.0cm 2.0cm 2.0cm 2.0cm;
	layout-grid:15.6pt;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
