@CHARSET "UTF-8";
#header2{width:100%;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":""); height:84px; background:#396691 url(images/bg2_repeat.jpg) repeat-x 0 0; position:relative; overflow:hidden;zoom:1;}
.head_bg2{ width:701px; height:84px;background:url(images/header_bg2.jpg) no-repeat 0 0;margin:0 auto;} 
#topMenu_out {background:url(images/topMenu_l.png) 0 0 no-repeat; line-height:26px; position:absolute; right:5px; top:0;z-index:99}
#topMenu_in { background:url(images/topMenu_r.png) 100% 0 no-repeat; margin:0 0 0 9px;}
.top_menu_ehr{height:26px;background:url(images/topMenu_Mid.png) repeat-x 0 0;margin:0 9px 0 0;}
.top_menu_ehr li{ height:32px;display:inline; float:left;}
.top_menu_ehr li a{padding:0 10px; border-right:1px  solid #333;}
.top_menu_ehr li.none a{ border:none;}
.top_menu_ehr li a:hover{ color:#f60;}
.TopMessage{ width:1366px;height:80px; position:absolute; left:6px; top:6px;overflow:hidden;zoom:1;}
.photo{ width:71px; height:71px;}
/*.TopMessage{ height:80px; position:absolute; left:6px; top:6px;overflow:hidden;zoom:1; padding-left:71px;}*/
.TopMessage h2{line-height:20px;margin:5px 0 3px -2px; text-indent:10px;font-size:18px; font-weight:bold;color:#fcdf3e;}
.TopMessage h2 span{ font-size:14px; font-weight:inherit;padding:0 5px;}
.detail_ehr{width:1300px; min-width:800px;overflow:hidden;zoom:1;margin-left:-10px;}
.detail_ehr li{float:left; background:url(images/TopMidrline.png) no-repeat right center; overflow:hidden;text-overflow:ellipsis;  white-space:nowrap;}
.detail_ehr li.width15{ width:15%;}
.detail_ehr li.width25{ width:25%;}
.detail_ehr li.width30{ width:30%;}
.detail_ehr li p{ line-height:20px; color:#fff;padding:0 20px; }
.detail_ehr li label{ color:#fcdf3e;font-family:"宋体";}
.detail_ehr li.none{ background:none;}
.fleft{ float:left;}

.tit{ color:#fcdf3e;font-family:"宋体";}
.info{ line-height:20px; color:#fff;padding:0 5px;}

#ehrView_head_div{
	display:none;
}

#topMenu_container{
	line-height:27px; width:362px; position:absolute; right:5px; top:0;z-index:98
}

.x-window-close{
	line-height:27px; width:28px;height:27px; position:absolute;right:1px; top:0;z-index:99;
}

.x-window-close a{
	display:inline;
	width:20px;height:20px;
	margin:0 6px;
	background:url(images/close.png) no-repeat center;
}

/**-------------------------------------------------------------------------*/

.x-ehrview-top{
	position:relative;
	padding-top:8px;
	width:100%;
	height:100%;
	border:none;
	float: left;
	background:transparent url(images/banner_ehr.gif) no-repeat;
	
}

.x-ehrview-top-bg{
	width:100%;
	height:100%;
	background:transparent url(images/banner_ehr_bg.gif) repeat-x;
}

.x-ehrview-toplnk {
	width:40px;
	height:10px;
	position:relative;
	background:transparent;
	float: right;
	text-align: center;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#fff;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFF;
}

.top-empi-table-bg {
	background:transparent;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.top-empi-splitline {
	height: 100%;
	width: 1px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	clear: left;
	float: none;
	position: static;
	display: block;
}
.empi-name {
	font-size: 22px;
	font-weight: bold;
}

.empi-lifeCycle{
	color:yellow;
	font-size: 16px;
	font-weight: bold;
}

/**-------------------------------------------------------------------------*/
.ehrviewClear{ overflow:hidden;zoom:1;margin:0 0 0 0;}
.ehrviewInfo_ico{ float:left;margin-top:5px;padding:0 0 0 5px;overflow:hidden;zoom:1;}
.ehrviewInfo_ico a{ display:inline; float:left; width:18px;height:24px; line-height:24px;padding-left:2px;color:#fff;text-decoration:underline;}
.ehrviewInfo_ico a:hover{ color:#FC0; font-weight:bold;}
