<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/util	
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!-- set spring context to use,should be in the first -->
	<bean class="ctd.util.AppContextHolder">
		<property name="devMode" value="true" />
<!-- 	 	<property name="configServerName" value="chis" />  -->
	</bean>


	<import resource="spring-hibernate.xml" />
	
	 <!-- 
	<import resource="spring-service.xml" />
	-->
	<import resource="spring-service-client.xml" />
	<import resource="spring-exp.xml" />
	<import resource="spring-service-log.xml" />
	<import resource="spring-service-chis.xml" />
	<import resource="spring-service-chisFilter.xml" />
	<import resource="spring-service-idloader.xml" />
	<import resource="spring-transaction.xml" />
	<import resource="spring-print.xml" />
	<import resource="spring-schedule.xml" />
  	<import resource="spring-webservice.xml" /> 
 	<import resource="spring-mobile.xml" />
	<import resource="spring-freemarker.xml" />
	<import resource="spring-mpi.xml" />

	<bean class="ctd.domain.DomainUtil" init-method="init"></bean>
	<bean class="ctd.sequence.KeyManager" init-method="init"></bean>
	<bean id="defaultExecutor" class="ctd.net.rpc.server.executor.support.DefaultExecutor" />
	<bean id="hibernateSupportExecutor"
		class="ctd.net.rpc.server.executor.support.HibernateSupportExecutor" />
	<bean id="executorFactory" class="ctd.net.rpc.server.executor.ExecutorFactory">
		<property name="executors">
			<list>
				<ref bean="defaultExecutor" />
				<ref bean="hibernateSupportExecutor" />
			</list>
		</property>
	</bean>
	<bean id="areaDao" class="ctd.dao.support.HibernateMapSupportDAO">
		<property name="id" value="area" />
		<property name="schemaId" value="chis.application.ag.schemas.EHR_AreaGrid" />
	</bean>
	<bean id="daoFactory" class="ctd.dao.DAOFactory">
		<property name="defaultDaoClass" value="ctd.dao.support.HibernateMapSupportDAO" />
		<property name="daoList">
			<list>
				<ref local="areaDao" />
			</list>
		</property>
	</bean>

	<bean id="mvcDictionaryLoader" class="ctd.mvc.controller.support.DictionaryLoader">
		<property name="expiresSeconds" value="15" />
	</bean>
	<bean id="mvcLogonManager" class="chis.source.service.base.ChisLogonManager">
		<property name="expiresSeconds" value="15" />
		<property name="aspectLogon" ref="chisAspectLogon" />
		<property name="encryptEnable">
		<value>true</value>
		</property>
	</bean>
	<bean id="chisAspectLogon" class="chis.source.service.base.ChisAspectLogon" />

	<bean id="mvcSchemaLoader" class="ctd.mvc.controller.support.SchemaLoader">
		<property name="expiresSeconds" value="15" />
	</bean>
	<bean id="mvcScriptLoader" class="ctd.mvc.controller.support.ScriptLoader">
		<property name="expiresDefinesMap">
			<map>
				<entry key="sencha.ext3.ext-base">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
				<entry key="sencha.ext3.ext-all">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
			</map>
		</property>
		<property name="expiresSeconds" value="15" />
	</bean>
	<bean id="mvcSWFLoader" class="ctd.mvc.controller.support.SWFLoader">
		<property name="expiresDefinesMap">
			<map>
				<entry key="framework_4.5.1.21328">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
				<entry key="rpc_4.5.1.21328">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
				<entry key="osmf_1.0.0.16316">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
				<entry key="mx_4.5.1.21328">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
				<entry key="spark_4.5.1.21328">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
				<entry key="sparkskins_4.5.1.21328">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
				<entry key="textLayout_2.0.0.232">
					<util:constant static-field="ctd.util.ServletUtils.ONE_WEEK_SECONDS" />
				</entry>
			</map>
		</property>
		<property name="expiresSeconds" value="15" />
	</bean>
	<bean id="mvcStaticResourceLoader" class="ctd.mvc.controller.support.StaticResourceLoader">
		<property name="expiresSeconds" value="15" />
	</bean>
	<bean id="publisherMessageStore" class="ctd.net.rpc.pub.support.BlockingQueueMessageStore" />
	<bean id="publisher" class="ctd.net.rpc.pub.Publisher"
		init-method="startWork" destroy-method="shutdown">
		<property name="store" ref="publisherMessageStore" />
	</bean>
	<bean id="SequenceCounterManager" class="ctd.sequence.SequenceCounterManager"
		init-method="start" destroy-method="shutdown" />

	<bean id="simpleLoadWithParentRelation" class="ctd.service.dao.SimpleLoadWithParentRelation" />
	<bean id="simpleReport" class="ctd.chart.service.SimpleReport" />
	<bean id="reportSchemaLoader" class="ctd.chart.service.ReportSchemaLoader" />
	<bean id="dicConfig" class="ctd.service.configure.DicConfig" />
	<bean id="schemaConfig" class="ctd.service.configure.SchemaConfig" />
	<bean id="parseExcel" class="ctd.service.configure.ParseExcel" />
	<bean id="activeNodeQuery" class="ctd.monitor.service.ActiveNodeQuery" />
	<bean id="monInfo" class="ctd.monitor.service.MonInfo" />
	<bean id="mvcPhotoLoader" class="ctd.mvc.controller.support.PhotoLoader">
		<property name="expiresSeconds" value="15" />
	</bean>
	<bean id="mvcPhotoUpload" class="ctd.mvc.controller.support.PhotoUpload">
		<property name="expiresSeconds" value="15" />
		<property name="photoDirectory" value="temp" />
		<property name="imgDirectory" value="photo" />
		<property name="fileUploadMaxSize" value="5M" />
	</bean>

	<bean id="mvcFileUpload" class="ctd.mvc.controller.support.FileUploader">
		<property name="expiresSeconds" value="15" />
		<property name="fileUploadMaxSize" value="5M" />
		<property name="tempDirectory" value="photo" />
		<property name="sizeMax" value="50M"></property>
		<property name="remoterUploader" value="platform.fileUpload"/>
	</bean>

	<bean id="welcomeService" class="ctd.service.home.HomePageService" />

	<bean id="quickService" class="ctd.service.home.QuickService" />
	<bean id="settingService" class="ctd.service.home.SettingService" />
	<bean id="tableDicRemoter" class="ctd.mvc.dicSource.TableDicRemoterImp" scope="prototype"/>

	<bean id="serviceExecutor" class="ctd.service.core.ServiceExecutor">
		<property name="route" ref="chisDefaultServiceRoute" />
	</bean>
	<bean id="chisDefaultServiceRoute" class="chis.source.service.base.ChisDefaultServiceRoute" />

	<bean id="printLocalLoader" class="ctd.print.PrintLocalLoader">
		<property name="listFileName" value="prints/prints.xml" />
	</bean>
	<bean id="printController" class="ctd.print.PrintController">
		<property name="loader" ref="printLocalLoader" />
	</bean>
	<bean id="message" class="ctd.message.Message"/>
</beans>
