<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ssdev-esb="http://www.bsoft.com.cn/schema/ssdev-esb"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd   
		http://www.bsoft.com.cn/schema/ssdev-esb 	
		http://www.bsoft.com.cn/schema/ssdev-esb/ssdev-esb.xsd">

	<bean id="abstractWsService" class="chis.source.ws.AbstractWsService"
		abstract="true">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	<!-- <bean id="getEmpiIdService" class="chis.source.ws.GetEmpiIdService" 
		parent="abstractWsService"> <property name="pixProxy" ref="pixProxy" /> </bean> -->

	<bean id="createDocument" class="chis.source.ws.DocumentCreateService"
		parent="abstractWsService">
		<property name="actionMap">
			<map>
				<entry key="B_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="B_01" />
						<property name="actionName" value="健康档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="C_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_01" />
						<property name="actionName" value="需要建立高血压档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="C_03">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_03" />
						<property name="actionName" value="需要进行高血压随访" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="D_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="D_01" />
						<property name="actionName" value="需要建立糖尿病档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="D_03">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="D_03" />
						<property name="actionName" value="需要进行糖尿病随访" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>

<!-- 
	<bean id="getUsers" class="chis.source.ws.UserService" parent="abstractWsService">
	</bean>
	 -->

	<bean id="getWorkListService" class="chis.source.ws.GetWorkListService"
		parent="abstractWsService">
		<property name="actionMap">
			<map>
				<entry key="B_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="B_01" />
						<property name="actionName" value="健康档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="B_01-01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="B_01-01" />
						<property name="actionName" value="家庭档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="C_01-01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_01-01" />
						<property name="actionName" value="需要高血压首诊测压" />
						<property name="cls"
							value="chis.application.hy.script.first.MDCHypertensionFirstForm" />
					</bean>
				</entry>
				<entry key="C_01-02">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_01-02" />
						<property name="actionName" value="历次测压信息查询，核实" />
						<property name="cls"
							value="chis.application.hy.script.first.HypertensionFirstCheckForm2" />
					</bean>
				</entry>
				<entry key="C_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_01" />
						<property name="actionName" value="需要建立高血压档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="C_03">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_03" />
						<property name="actionName" value="需要进行高血压随访" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="C_03-01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_03-01" />
						<property name="actionName" value="需要录入高血压就诊信息" />
						<property name="cls"
							value="app.biz.mdc.HypertensionClinicRecordForm" />
					</bean>
				</entry>
				<entry key="D_01-01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="D_01-01" />
						<property name="actionName" value="糖尿病疑似病例登记" />
						<property name="cls" value="chis.application.dbs.script.similarity.SimilarityModule" />
					</bean>
				</entry>
				<entry key="D_01-02">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="D_01-02" />
						<property name="actionName" value="历次血糖记录查询、核实" />
						<property name="cls" value="" />
					</bean>
				</entry>
				<entry key="D_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="D_01" />
						<property name="actionName" value="需要建立糖尿病档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="D_03">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="D_03" />
						<property name="actionName" value="需要进行糖尿病随访" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="B_06">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="B_06" />
						<property name="actionName" value="老年人随访" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="B_07">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="B_07" />
						<property name="actionName" value="需要建立老年人档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="F_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="F_01" />
						<property name="actionName" value="需要新建肿瘤档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="F_02">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="F_02" />
						<property name="actionName" value="需要肿瘤随访" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="H_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="H_01" />
						<property name="actionName" value="儿童档案" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="H_03">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="H_03" />
						<property name="actionName" value="儿童意外情况登记" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="H_04">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="H_04" />
						<property name="actionName" value="儿童死亡登记" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="H_05">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="H_05" />
						<property name="actionName" value="儿童缺陷登记" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="H_08">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="H_08" />
						<property name="actionName" value="儿童体格检查" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="H_09">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="H_09" />
						<property name="actionName" value="体弱儿童建档" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="H_10">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="H_10" />
						<property name="actionName" value="体弱儿童随访" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="G71-79">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="G71-79" />
						<property name="actionName" value="预留妇保功能" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
				<entry key="G81-89">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="G81-89" />
						<property name="actionName" value="预留计划免疫功能" />
						<property name="cls" value="chis.script.EHRView" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="getDiseaseRecordCode" class="chis.source.ws.GetDiseaseRecordCodeService"
		parent="abstractWsService">
		<property name="actionMap">
			<map>
				<entry key="C_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="C_01" />
						<property name="actionName" value="高血压档案" />
						<property name="cls" value="chis.script.EHRView" />
						<property name="properties">
							<map>
								<entry key="codeList">
									<list>
										<value>D75.151</value>
										<value>F06.911</value>
										<value>G81.901</value>
										<value>H35.001</value>
										<value>I10.X01</value>
										<value>I10.X02</value>
										<value>I10.X03</value>
										<value>I10.X04</value>
										<value>I10.X05</value>
										<value>I10.X06</value>
										<value>I10.X07</value>
										<value>I10.X08</value>
										<value>I10.X09</value>
										<value>I10.X10</value>
										<value>I10.X11</value>
										<value>I11.051</value>
										<value>I11.052</value>
										<value>I11.901</value>
										<value>I11.951</value>
										<value>I12.001</value>
										<value>I12.903</value>
										<value>I12.905</value>
										<value>I12.951</value>
										<value>I13.051</value>
										<value>I13.151</value>
										<value>I13.251</value>
										<value>I13.908</value>
										<value>I13.909</value>
										<value>I15.001</value>
										<value>I15.101</value>
										<value>I15.102</value>
										<value>I15.151</value>
										<value>I15.251</value>
										<value>I15.801</value>
										<value>I15.802</value>
										<value>I15.901</value>
										<value>I27.052</value>
										<value>I67.401</value>
										<value>I70.853+</value>
										<value>O10.051</value>
										<value>O10.151</value>
										<value>O10.201</value>
										<value>O10.251</value>
										<value>O10.351</value>
										<value>O10.451</value>
										<value>O10.901</value>
										<value>O10.902</value>
										<value>O10.951</value>
										<value>O11.X51</value>
										<value>O11.X52</value>
										<value>O11.X53</value>
										<value>O13.X02</value>
										<value>O13.X52</value>
										<value>O14.001</value>
										<value>O14.102</value>
										<value>O16.X01</value>
										<value>O16.X51</value>
										<value>P00.051</value>
										<value>P29.251</value>
										<value>R03.051</value>
										<value>T70.202</value>
									</list>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
				<entry key="D_01">
					<bean class="chis.source.ws.ActionEntity">
						<property name="actionId" value="D_01" />
						<property name="actionName" value="糖尿病档案" />
						<property name="cls" value="chis.script.EHRView" />
						<property name="properties">
							<map>
								<entry key="codeList">
									<list>
										<value>E10.901</value>
										<value>E10.951</value>
										<value>E10.952</value>
										<value>E10.953</value>
										<value>E10.954</value>
										<value>E11.901</value>
										<value>E11.951</value>
										<value>E11.952</value>
										<value>E11.953</value>
										<value>E11.954</value>
										<value>E11.955</value>
										<value>E12.951</value>
										<value>E12.952</value>
										<value>E13.901</value>
										<value>E13.902</value>
										<value>E13.903</value>
										<value>E13.904</value>
										<value>E13.951</value>
										<value>E14.001</value>
										<value>E14.002</value>
										<value>E14.101</value>
										<value>E14.102</value>
										<value>E14.103</value>
										<value>E14.202+</value>
										<value>E14.203+</value>
										<value>E14.301</value>
										<value>E14.303+</value>
										<value>E14.304+</value>
										<value>E14.305+</value>
										<value>E14.351+</value>
										<value>E14.352+</value>
										<value>E14.353+</value>
										<value>E14.401+</value>
										<value>E14.402+</value>
										<value>E14.403+</value>
										<value>E14.404+</value>
										<value>E14.405+</value>
										<value>E14.406+</value>
										<value>E14.407+</value>
										<value>E14.408+</value>
										<value>E14.451+</value>
										<value>E14.501</value>
										<value>E14.502+</value>
										<value>E14.503+</value>
										<value>E14.551</value>
										<value>E14.601</value>
										<value>E14.602</value>
										<value>E14.603</value>
										<value>E14.604</value>
										<value>E14.605</value>
										<value>E14.606</value>
										<value>E14.607+</value>
										<value>E14.608+</value>
										<value>E14.609+</value>
										<value>E14.610+</value>
										<value>E14.651</value>
										<value>E14.652</value>
										<value>E14.653</value>
										<value>E14.654+</value>
										<value>E14.655+</value>
										<value>E14.751</value>
										<value>E14.851</value>
										<value>E14.901</value>
										<value>E15.X51</value>
										<value>E71.001</value>
										<value>E74.801</value>
										<value>E83.151</value>
										<value>E83.152</value>
										<value>E83.156</value>
										<value>N25.151</value>
										<value>O24.051</value>
										<value>O24.151</value>
										<value>O24.251</value>
										<value>O24.351</value>
										<value>O24.451</value>
										<value>O24.901</value>
										<value>P70.051</value>
										<value>P70.101</value>
										<value>P70.251</value>
										<value>R73.001</value>
										<value>R73.003</value>
										<value>R73.051</value>
										<value>R73.052</value>
										<value>T38.001</value>
										<value>T38.351</value>
										<value>Z13.151</value>
										<value>Z71.352</value>
										<value>Z83.351</value>
									</list>
								</entry>
							</map>
						</property>
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<bean id="chisWSProxyService" class="chis.source.ws.ChisWSProxyService"
		parent="abstractWsService">
		<property name="desKey" value="bschis" />
	</bean>
	
	<bean id="testWsService" class="chis.source.ws.TestWsService"
		parent="abstractWsService"/>
	<bean id="wdlsWsService" class="chis.source.ws.WdlsWsService"
		parent="abstractWsService"/>
	<bean id="appointmentService" class="chis.source.ws.AppointmentHttpImpl"
		parent="abstractWsService"/>
	<ssdev-esb:protocol id="chis.wsEntry0" port="12307"  protocol="webservice" ref="createDocument" />
	<ssdev-esb:protocol id="chis.wsEntry1" port="12307"  protocol="webservice" ref="getWorkListService" />
	<ssdev-esb:protocol id="chis.wsEntry2" port="12307"  protocol="webservice" ref="getDiseaseRecordCode" />
	<ssdev-esb:protocol id="chis.wsEntry3" port="12307"  protocol="webservice" ref="chisWSProxyService" />
	<ssdev-esb:protocol id="chis.wsEntry4" port="12307"  protocol="webservice" ref="testWsService" />
</beans>