<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="chis.vindicateLogService" class="chis.source.log.VindicateLogService">
		<property name="allocationMap">
			<map>
				<entry key="chis.application.fhr.schemas.EHR_FamilyRecord"><!-- 家庭档案 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="FR01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.fhr.schemas.EHR_FamilyProblem"><!-- 家庭主要问题 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="FR02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.fhr.schemas.EHR_FamilyContractBase"><!-- 家庭签约 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="FR03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.fhr.schemas.EHR_FamilyContractService"><!-- 家庭签约服务项目 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="FR0301"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hr.schemas.EHR_HealthRecord"><!-- 健康档案 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HR01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hr.schemas.EHR_LifeStyle"><!-- 个人生活习惯 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HR02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hr.schemas.EHR_PastHistory"><!-- 个人既往史 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HR03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hr.schemas.EHR_PersonProblem"><!-- 个人主要问题 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HR04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mov.schemas.MOV_EHR"><!-- 档案迁移管理 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MOV01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mov.schemas.MOV_CDH"><!-- 儿童户籍地址迁移 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MOV02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mov.schemas.MOV_MHC"><!-- 孕妇户籍地址迁移 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MOV03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mov.schemas.MOV_ManaInfoBatchChange"><!-- 批量修改管理医生 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MOV04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mov.schemas.MOV_ManaInfoChange"><!-- 修改各档责任医生 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MOV05"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_HealthCheck"><!-- 健康检查*基本信息 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_LifestySituation"><!-- 健康检查*生活方法# -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_Examination"><!-- 健康检查*查体# -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_AccessoryExamination"><!-- 健康检查*辅助检查  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_InhospitalSituation"><!-- 健康检查*住院治疗用药情况*住院治疗情况  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC0501"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_MedicineSituation"><!-- 健康检查*住院治疗用药情况*用药情况  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC0502"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_NonimmuneInoculation"><!-- 健康检查*非免疫规划预防接种  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC06"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hc.schemas.HC_HealthAssessment"><!-- 健康检查*健康评价表# -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HC07"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionRecord"><!-- 高血压*主档  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionMedicine"><!-- 高血压*用药(包括主档和随访)  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY0101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionFixGroup"><!-- 高血压*评估  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionVisit"><!-- 高血压*随访*基本信息  -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HyperVisitDescription"><!-- 高血压*随访*中医辩体 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY0302"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HyperVisitHealthTeach"><!-- 高血压*随访*健康教育 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY0303"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionInquire"><!-- 高血压*询问 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionRisk"><!-- 高血压高危 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY05"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionRiskAssessment"><!-- 高血压高危*评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY06"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionRiskVisit"><!-- 高血压高危*随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY07"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionSimilarity"><!-- 高血压疑似 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY07"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_HypertensionSimilarityC"><!-- 高血压疑似*子表（核实数据） -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY0701"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.hy.schemas.MDC_Hypertension_FCBP"><!-- 高血压疑似*首测数据 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="HY0702"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_HY_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesRecord"><!-- 糖尿病*主档 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesMedicine"><!-- 糖尿病*用药 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS0101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesVisit"><!-- 糖尿病*随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesComplication"><!-- 糖尿病*随访*并发症 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS0201"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesVisitDescription"><!-- 糖尿病*随访*中医辨体 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS0202"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesVisitHealthTeach"><!-- 糖尿病*随访*健康教育 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS0203"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesInquire"><!-- 糖尿病询问 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesRisk"><!-- 糖尿病高危 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesRiskAssessment"><!-- 糖尿病高危评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS05"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesRiskHT"><!-- 糖尿病高危评估*健康教育# -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS0501"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesRiskVisit"><!-- 糖尿病高危随访-->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS06"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.dbs.schemas.MDC_DiabetesSimilarity"><!-- 糖尿病疑似-->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DBS07"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_DBS_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourSeemingly"><!-- 疑似肿瘤 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourScreening"><!-- 肿瘤初筛 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourHighRisk"><!-- （易患）肿瘤高危 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourHighRiskGroup"><!-- （易患）肿瘤高危 评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T0301"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourHighRiskVisit"><!-- （易患）肿瘤高危 随访-->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T0302"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourConfirmed"><!-- 肿瘤确诊-->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourPatientReportCard"><!-- 现患肿瘤-->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T05"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.tr.schemas.MDC_TumourPatientFirstVisit"><!-- 现患肿瘤 随访-->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="T0502"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_TR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.ohr.schemas.MDC_OldPeopleRecord"><!-- 老年人档案 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="OHR01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_OHR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.ohr.schemas.MDC_OldPeopleVisit"><!-- 老年人随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="OHR02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_OHR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.ohr.schemas.MDC_OldPeopleSelfCare"><!-- 老年人自理评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="OHR03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_OHR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.rvc.schemas.RVC_RetiredVeteranCadresRecord"><!-- 离休干部档案 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="RVC01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.rvc.schemas.RVC_RetiredVeteranCadresVisit"><!-- 离休干部随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="RVC02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.psy.schemas.PSY_PsychosisRecord"><!-- 精神病 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="PSY01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.psy.schemas.PSY_PsychosisVisit"><!-- 精神病随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="PSY02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.psy.schemas.PSY_HealthGuidance"><!-- 精神病随访*健康指导 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="PSY0201"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.psy.schemas.PSY_RecordPaper"><!-- 精神病记录纸 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="PSY03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.psy.schemas.PSY_AnnualAssessment"><!-- 精神病年度评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="PSY04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_LimbDeformityRecord"><!-- 残疾人档案*肢体残疾登记 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_LimbTrainingEvaluate"><!-- 残疾人档案*肢体残疾训练评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF0101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_LimbMiddleEvaluate"><!-- 残疾人档案*肢体残疾中期总结 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF010101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_LimbTrainingPlan"><!-- 残疾人档案*肢体残疾训练计划 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF0102"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_LimbTrainingRecord"><!-- 残疾人档案*肢体残疾训练记录 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF010201"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_BrainDeformityRecord"><!-- 残疾人档案*脑瘫残疾登记 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_BrainTrainingEvaluate"><!-- 残疾人档案*脑瘫残疾训练评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF0201"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_BrainMiddleEvaluate"><!-- 残疾人档案*脑瘫残疾中期总结 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF020101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_BrainTrainingPlan"><!-- 残疾人档案*脑瘫残疾训练计划 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF0202"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_BrainTrainingRecord"><!-- 残疾人档案*脑瘫残疾训练记录 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF020201"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_IntellectDeformityRecord"><!-- 残疾人档案*智力残疾登记 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_IntellectTrainingEvaluate"><!-- 残疾人档案*智力残疾训练评估 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF0301"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_IntellectMiddleEvaluate"><!-- 残疾人档案*智力残疾中期总结 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF030101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_IntellectTrainingPlan"><!-- 残疾人档案*智力残疾训练计划 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF0302"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.def.schemas.DEF_IntellectTrainingRecord"><!-- 残疾人档案*智力残疾训练记录 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="DEF030201"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_SCR_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cvd.schemas.CVD_AssessRegister"><!-- 心血管监测 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CVD01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CVD_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_HealthCard"><!-- 儿童档案 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_BirthCertificate"><!-- 儿童档案*出生医学证明 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_Inquire"><!-- 儿童档案*询问记录 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_CheckupInOne"><!-- 儿童档案*1岁以内儿童体检 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_CheckupOneToTwo"><!-- 儿童档案*1-2岁儿童体检 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH05"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_CheckupThreeToSix"><!-- 儿童档案*3-6岁儿童体检 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH06"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_HealthGuidance"><!-- 儿童档案*健康指导 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH07"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_ChildrenCheckupDescription"><!-- 儿童档案*中医辩体 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH08"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_CheckupHealthTeach"><!-- 儿童档案*健康教育 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH09"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_DebilityChildren"><!-- 儿童档案*体弱儿童档案 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH10"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_DebilityChildrenVisit"><!-- 儿童档案*体弱儿童随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH11"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_DebilityChildrenCheck"><!-- 儿童档案*化验项目 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH1101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_DisabilityMonitor"><!-- 儿童档案*疑似残疾儿童报告卡 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH12"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_Accident"><!-- 儿童档案*儿童意外情况 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH13"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_OneYearSummary"><!-- 儿童档案*儿童三周岁小结 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH14"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_DefectRegister"><!-- 儿童档案*儿童出生缺陷监测 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH15"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.cdh.schemas.CDH_DeadRegister"><!-- 儿童档案*儿童死亡监测 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="CDH16"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_CDH_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_WomanRecord"><!-- 孕妇基本信息 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_PregnantRecord"><!-- 孕妇档案 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_PregnantScreen"><!-- 孕妇档案*产前筛查 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC0101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_VisitRecord"><!-- 孕妇档案*孕妇随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC02"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_Postnatal42dayRecord"><!-- 孕妇档案*产后42天健康检查 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC03"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_PostnatalVisitInfo"><!-- 孕妇档案*孕妇产后访视信息 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC04"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_PregnantSpecial"><!-- 孕妇档案*孕妇特殊情况 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC05"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_BabyVisitInfo"><!-- 孕妇档案*新生儿访视信息 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC06"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_BabyVisitRecord"><!-- 孕妇档案*新生儿随访 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC0601"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_DeliveryOnRecord"><!-- 孕妇档案*产妇分娩记录 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC07"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.MHC_DeliveryOnRecordChild"><!-- 孕妇档案*产妇所生新生儿登记 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC0701"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.mhc.schemas.DEA_DeathReportCard"><!-- 孕妇档案*孕产妇死亡报告卡 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="MHC08"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_MHC_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.per.schemas.PER_CheckupRegister"><!-- 体检 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="PER01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_PER_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.per.schemas.PER_CheckupDetail"><!-- 体检明细 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="PER0101"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_PER_VindicateLog"/>
					</bean>
				</entry>
				<entry key="chis.application.idr.schemas.IDR_Report"><!-- 传染病报告卡 -->
					<bean class="chis.source.log.AllocationEntity">
						<property name="logType"  value="IDR01"/>
						<property name="logStoreTable"  value="chis.application.log.schemas.LOG_OTH_VindicateLog"/>
					</bean>
				</entry>
			</map>
		</property>
	</bean>

</beans>