@charset "utf-8";
/* CSS Document */

body,div,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,table,thead,tbody,th,td {    
    margin:0;   
    padding:0;
	}
	
body{ 
	font: 12px/1.8 '',tahoma, Srial, helvetica, sans-serif; 
	text-align:left;
	background-color:#fff;
    } 

table { border-collapse:collapse; border-spacing:0;} 
img {border:0;} 
ol,ul {list-style:none; } 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;} 
input{vertical-align:middle; font-family:Verdana;}
a{ color:#333; text-decoration:none;cursor:pointer;}
a:focus {outline:0;}/* for ff*/

/*login css*/
#login{width:1000px;height:620px;background:#194f81 url(images/homepage/login_bg.jpg) no-repeat 0 0; margin:0 auto; overflow:hidden;zoom:1; }
.logs{ width:273px; float:right; padding-right:10px; padding-top:245px;}
table.log{}
table.log tr{ display:block; margin-bottom:10px;}
table.log tr label div{ color:#023a74;font-family:"宋体"; }
table.log tr input,table.log tr select{width:165px; border:1px solid #bbbdbf; height:24px; line-height:24px;}
.sure,.cancel{display:inline;width:77px; height:28px;border:none;cursor:pointer;margin:20px 0 0 35px;}
.sure{ background:url(images/homepage/sure.png) no-repeat 0 0;}
a:hover .sure{background:url(images/homepage/sure_hover.png) no-repeat 0 0;}
.cancel{background:url(images/homepage/cancel.png) no-repeat 0 0;}
a:hover .cancel{background:url(images/homepage/cancel_hover.png) no-repeat 0 0;}
div.copyrightInfo{ padding-top:550px;color:#fff; text-align:center;}